
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "bootstrap";

// global variables
$primary-color: #E65728;

// style for link
a {
    text-decoration: none;
    color: $primary-color;
    font-weight: 700
}

// changing button style
.btn-app-primary {
    @extend .btn-primary;
    background-color: $primary-color;
    border: none;
    &:hover{
        background-color: $primary-color;
        border: none;

    }
    
}

// $theme-colors: (
//   "primary": #FF851B,
// );

// style for logo on signup/login page (left-corner)
.logo-corner{
    height: 18%;
    width: 18%;
    min-height: 18%;
    min-width: 18%;
}

// class for text with primary app colour
.text-primary-color{
    color: $primary-color;
}


//@import "~bootstrap/scss/bootstrap";
