
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "bootstrap";


// changing button style
.btn-app-primary {
    @extend .btn-primary;
    background-color: #E65728;
    border: none;
    &:hover{
        background-color: #df4511;
        border: none;

    }
    
}

// $theme-colors: (
//   "primary": #FF851B,
// );

// style for logo on signup/login page (left-corner)
.logo-corner{
    top: 0;
    left: 0;
    max-height: 15%;
    max-width: 15%;
}

// class for text with primary app colour
.text-primary-color{
    color: #E65728;
}

//@import "~bootstrap/scss/bootstrap";
